<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<PropertyGroup>
		<!-- Specify whether to delete existing files before publishing -->
		<DeleteExistingFiles>False</DeleteExistingFiles>
		<!-- Specify whether to exclude App_Data folder during publishing -->
		<ExcludeApp_Data>False</ExcludeApp_Data>
		<!-- Specify whether to launch the site after publishing -->
		<LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
		<!-- Specify the last used build configuration -->
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<!-- Specify the last used platform -->
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<!-- Specify the publishing provider -->
		<PublishProvider>FileSystem</PublishProvider>
		<!-- Specify the target directory for publishing -->
		<PublishUrl>D:\Hiren\Publish</PublishUrl>
		<!-- Specify the web publishing method -->
		<WebPublishMethod>FileSystem</WebPublishMethod>
	</PropertyGroup>
</Project>
<!-- This project file defines the configuration settings for publishing an ASP.NET application. 
     It specifies options such as whether to delete existing files before publishing, whether to exclude App_Data folder, 
     whether to launch the site after publishing, target directory for publishing, etc. -->
